body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

.logo-name {
  font-weight: bold;
  color: #1da1f2 !important;
}

.profile-pic {
  float: left;
  height: 32px;
  margin-right: 10px;
  position: relative;
  top: -5px;
  width: 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.notification-bell {
  float: left;
  height: 32px;
  margin-right: 15px;
  position: relative;
  top: 3px;
  width: 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.notification-border {
  margin-left: 15px;
}

.searchArea {
  text-align: center;
}

#search {
  display: inline-block;
  margin-bottom: 30px;
}

#searchMap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-container {
  overflow: hidden;
}

.leaflet-map-pane {
  position: absolute;
}

#map-container {
  border: none;
  width: 100%;
  -webkit-box-shadow: #c7cdcf 0 1px 0 0;
  box-shadow: #c7cdcf 0 1px 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  //background: #fff;
  //position: relative;
  z-index: 2;
}

wrap {
  margin: 0 auto;
  //width: 960px;
}

.newHomepage {
  height: 100%;
  min-height: 600px;
}

.searchContentWrapper {
  position: relative;
  z-index: 3;
}

.searchContent {
  margin-top: 150px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.largeLogo {
  background-size: 301px auto;
  color: #fff;
  //background: url(/img/chrome/logo_foursquare8_large-8cf663a….png) left center no-repeat;
  display: inline-block;
  text-indent: -9999px;
  width: 301px;
}

.inputs {
display: inline-block;
margin-bottom: 30px;
}

.inputSet {
  float: left;
  position: relative;
}

.input-holder {
  position: relative;
}

#headerBarSearch {
  padding: 20px;
  width: 320px;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #333;
  font-family: inherit;
  font-size: 17px;
  height: 20px;
  line-height: 20px;
  margin: 9px 10px 0 0;
  outline: none;
}

#headerLocationInput {
  padding: 20px;
  width: 320px;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #333;
  font-family: inherit;
  font-size: 17px;
  height: 20px;
  line-height: 20px;
  margin: 9px 10px 0 0;
  outline: none;
}

.input-default {
  font-size: 17px;
  left: 16px;
  color: #959b9e;
  position: absolute;
  top: -1px;
}

.dropdownArrow {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  z-index: 2;
}

.down-icon {
  //background-image: url(/img/icon-downarrow@2x-ee87a96….png);
  background-size: 40px auto;
  //background: url(/img/icon-downarrow-16b7aa4….png) top left no-repeat;
  height: 40px;
  width: 40px;
}

.searchContentBackground {
  background: rgba(0, 131, 187, 0.65);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tagline {
  font-weight: bold;
  line-height: 140%;
  color: #fff;
  margin: 0 auto 25px;
  width: 560px;
}

.submitButton {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  //color: #4e595d;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  background: #FB8C00;
  color: #fff;
  height: auto;
  margin-left: 10px;
  padding: 10px 20px;
  top: 8px;
  width: auto;
  position: relative;
  font-weight: bold;
}

.submitButton:hover{
  cursor: pointer;
}

.notification-dropdown {
  min-height: 8rem;
  min-width: 15rem !important;
  padding: 10px !important;
}